doc/xml/jugadores.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jugadores" type="jugadoresType"/>
  <xs:complexType name="jugadoresType">
    <xs:sequence>
      <xs:element type="jugadorType" name="jugador" maxOccurs="2" minOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="jugadorType">
    <xs:simpleContent>
      <xs:extension base="tipoNombre">
        <xs:attribute type="xs:positiveInteger" name="id" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="tipoNombre">
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>